#homepage-banner-section-wrap{
    height: 603px;
    background: rgba(190, 216, 120, 0.80);
     overflow: hidden;
}

.homepage-banner-section-image-wrap{
   width: 50%;
   position: absolute;
   top: 42%;
   right: 1%;
}

#homepage-banner-section-image{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

#homepage-banner-section-content-title{
   color: rgba(3, 3, 3, 0.90);
font-family: "Poppins";
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 65px;
letter-spacing: 0.25px;
}

#homepage-banner-section-content-desc{
   color: rgba(3, 3, 3, 0.70);
font-family: 'Nunito Sans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0.25px;
width: 53%;
margin-top: 15px;
}

#homepage-banner-section-contact-button{
   border-radius: 3px;
background: #3B7E31;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
padding: 10px 30px 10px 30px;
color: #FFF;
font-family: "Poppins";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 133.333% */
letter-spacing: 0.25px;
text-transform: capitalize;
border: #3B7E31;
}

#homepage-banner-section-request-button{
   border-radius: 3px;
border: 1px solid #3B7E31;
background: #CBE093;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
padding: 10px 30px 10px 30px;
color: #3B7E31;
font-family: "Poppins";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 133.333% */
letter-spacing: 0.25px;
text-transform: capitalize;
margin-left: 15px;
}

#homepage-banner-section-button-wrap{
   margin-top: 40px;
}

#homepage-banner-section-content-wrap{
   width: 50%;
   margin-top:140px;
   margin-left: 100px;
}

#homepage-products-section-headline{
   color: rgba(3, 3, 3, 0.90);
font-family: "Poppins";
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.3px;
text-align: center;
}

#homepage-products-section-headline>span{
   color: #3B7E31;
}

#homepage-products-section-main-wrap{
   padding-top: 70px;
}

.homepage-products-slider-image-wrap{
  width: 71%;
  height: 130px;
  border-radius: 10px;
border: 0.5px solid rgba(112, 112, 112, 0.35);
background: #F6F7F7;
padding: 35px;
}

.homepage-products-slider-image-wrap>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#homepage-products-slider-main-wrap{
   /* border: 1px solid red; */
   width: 80%;
   margin: auto;
   margin-top: 90px;
}

.homepage-products-slider-component{
   /* border: 1px solid black; */
}

.homepage-products-slider-slides-title{
   color: #000;
text-align: center;
font-family: 'Nunito Sans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
letter-spacing: 0.25px;
margin-top: 23px;
}

.homepage-products-slider-slides{
  /* border: 1px solid red; */
}

.homepage-products-slider-component > .slick-list>div>div{
   width: 210px;
   margin-left: 45px;
}