#navbar-top-color-block{
    background: #45843B;
    height: 27px;
}

#navbar-logo-wrap{
   width: 9%;
   margin-top: 15px;
}

#navbar-logo{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-elements-text{
    color: #030303;
font-family: 'Nunito Sans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.18px;
text-transform: capitalize;
 margin-top: 40px;
}

#navbar-elements-wrap{
  display: flex;
  padding: 0px 0px 20px 0px;
  justify-content: space-around;
  background: #F1FDD1;
}

#navbar-elements-main-wrap{
    display: flex;
    width: 45%;
    justify-content: space-between;
}

#navbar-search-input-icon-wrap{
    background: #45843B;
    padding: 3px 12px 5px 12px;
    border-radius: 5px;
    margin-left: -10px;
}

#navbar-search-input-icon{
    color: white;
    vertical-align: middle;
}

#navbar-search-input-main-wrap>input{
    padding: 7px;
    border-radius: 5px;
background: #FFF;
border: 0.2px solid rgba(59, 126, 49, 0.80);
width: 80%;
}

#navbar-search-input-main-wrap{
    display: flex;
    margin-top: 30px;
    width: 20%;
    height: 35px;
    padding-top: 5px;
}

#navbar-elements-main-wrap>a{
    text-decoration: none;
}

#mobile-view-navigation-main-wrap{
    display: none;
}

@media screen and (max-width:480px) {
#navbar-elements-wrap{
    display: none;
}

#mobile-view-navigation-main-wrap{
    display: flex;
    justify-content: space-between;
    background: #F1FDD1;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
height: 70px;
}

#mobile-view-navigation-logo-wrap{
    width: 23%;
}

#mobile-view-navigation-logo-wrap>a>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#mobile-view-navigation-ham-icon{
   font-size: 25px;
   margin-top: 20px;
   margin-left: 15px;
   cursor: pointer;
}

#mobile-view-navigation-search-icon{
   font-size: 25px;
   margin-top: 20px;
   margin-right: 15px;
}

}